/* Basic styling for the carousel container */
.carouselContainer {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}

/* Styling for the carousel */
.carousel {
	display: flex;
	width: 31em;
	gap: 4px;
	/* transition: transform 0.8s ease-in-out; */
	animation: scroll 12s linear infinite;
}

/* Styling for individual carousel items (images) */
.carousel img {
	width: 100%;
	height: auto;
}
.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block: 20px;
	border: 1px solid;
	padding: 10px;
	height: 80vh;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	25% {
		transform: translateX(-25%);
	}
	50% {
		transform: translateX(-50%);
	}
	75% {
		transform: translateX(-75%);
	}
	100% {
		transform: translateX(0%);
	}
}

.carousel2 {
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	padding-bottom: 16px;
	padding-inline: 10px;
	border-bottom: 3px solid;
	margin-bottom: 10px;
	box-shadow: 1px 1px 16px black;
}
.imagePair {
	display: flex;
	justify-content: center;
	gap: 30px;
}
