.main {
	position: relative;
	height: auto;
	margin: auto;
	/* width: 85%; */
	background: #0d9551;
	background-size: cover;
	/* background-image: linear-gradient(45deg, rgb(0 0 0 / 84%) 0%, rgb(0 0 0 / 53%) 100%), url(/src/pages/assets/home-img.jpg); */
	/* background: black; */
	background-repeat: no-repeat;
	backdrop-filter: blur(5px);
	display: flex;
	margin-bottom: 50px;
	box-shadow: black 2px 4px 10px 1px;
	/* border-radius: 20px; */
	overflow: hidden;
}
/* 
.main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: inherit;
	background-size: cover;
	z-index: -1;
	pointer-events: none;
} */

.main > div {
	width: 52%;
	margin-top: 40px;
	margin-left: 8%;
	/* margin: auto; */
	color: aliceblue;
}
.main > img {
	height: 50vh;
	margin: auto;
}
.main > div > h1 {
	font-size: 59px;
	line-height: 100px;
	opacity: 0.9;
	color: white;
}

/* @keyframes rainbow-animation {
	to {
		background-position: 4500vh;
	}
} */

.main > div > h3 {
	background-image: linear-gradient(-225deg, #c5b5ff 0%, #96fdff 29%, #ff0f0f 67%, #000000 100%);
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 10s linear infinite;
	display: inline-block;
	font-size: 35px;
	margin-bottom: 10px;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.mid {
	/* background-image: url(/src/pages/assets/banner-02.jpg);
    position: relative; */
	color: #000000;
	height: 40em;
	margin: auto;
	/* width: 85%; */
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	/* backdrop-filter: blur(3px); */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	box-shadow: black 2px 4px 10px 1px;
	/* border-radius: 20px; */
	overflow: hidden;
	margin-bottom: 8em;
}
.mid > h1 {
	margin-bottom: 20px;
	margin-top: 6%;
}
/* 
.mid::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: inherit;
	background-size: cover;
	filter: blur(1px) grayscale(45%) brightness(40%); 
	z-index: -1;
	pointer-events: none;
} */
.hr {
	height: 5px;
	border-radius: 10px;
	/* margin: 0px; */
	background: #ffffffd4;
	width: 20%;
	margin-bottom: 40px;
}
.mid > div {
	display: flex;
	justify-content: center;
	gap: 25px;
	align-items: center;
}

.mid > div > p {
	width: 76%;
	font-size: 20px;
	font-weight: 400;
	animation: fadeIn 3s ease-in-out 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.image img {
	height: 25em;
}
.image {
	display: contents;
}

/* WHAT WE DO */
.bottom {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	margin-top: 5em;
	width: 90%;
}
.bottom > h1 {
	margin-bottom: 20px;
}
.bottomcontainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 25px;
}
.bottomcontainer div {
	padding: 10px;
	width: 25%;
}
.bottomcontainer > div > p {
	opacity: 0.7;
}

/* Stories */
.stories {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: 5em;
	margin-bottom: 7em;
}
.storiesContent > div > p {
	font-size: smaller;
}
.storiesContent > div {
	box-shadow: 1px 1px 12px black;
	padding: 24px;
	width: 33%;
}
.storiesContent > div > img {
	height: 100px;
	border-radius: 50px;
}
.storiesContent {
	display: flex;
	width: 96%;
	gap: 15px;
}
.stories > h1 {
	margin-bottom: 20px;
}
.storiesContent > div > h3 > h1 {
	margin-top: 0px;
}

/* Styles for screens with a maximum width of 768 pixels (typical for small screens) */
@media (max-width: 768px) {
	/* Add your CSS styles for small screens here */
	body {
		font-size: 16px;
	}

	.container {
		width: 100%;
	}
	.main {
		height: fit-content;
		width: 100%;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		background: black;
	}
	.main > div {
		margin-top: 5px;
		width: 56%;
	}
	.main > img {
		height: 27vh;
		/* margin: auto; */
		margin-bottom: 5px;
	}
	.main > div > h1 {
		color: #ffffff;
		font-size: 16px;
		line-height: 35px;
		animation: rainbow-animation 250s linear infinite;
	}
	.main > div > h3 {
		font-size: 17px;
		background-image: linear-gradient(-225deg, #13c90c 0%, #96fdff 29%, #ff0f0f 67%, #000000 100%);
	}
	.mid > div > p {
		width: 94%;
		font-size: 10px;
		margin-bottom: 50px;
	}
	.mid {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	.mid > h1 {
		font-size: x-large;
	}
	.bottom {
		width: 98%;
		margin-top: 20px;
		padding-bottom: 2em;
	}
	.bottom > h1 {
		font-size: x-large;
	}
	.bottomcontainer div {
		width: auto;
	}
	.bottomcontainer {
		gap: 0px;
	}
	.bottomcontainer > div > h2 {
		margin-top: 0px;
		font-size: inherit;
	}
	.bottomcontainer > div {
		border-bottom: 1px solid greenyellow;
	}
	.stories {
		margin-top: 0px;
	}
	.stories > h1 {
		font-size: x-large;
	}
	.storiesContent {
		flex-direction: column;
		width: 87%;
		gap: 15px;
		align-items: center;
	}
	.storiesContent > div {
		width: 100%;
	}
	.storiesContent > div > img {
		height: 77px;
	}
	.hr {
		margin-bottom: 0px;
	}
	.storiesContent div h3 {
		font-size: inherit;
	}
	.storiesContent div > p {
		font-size: smaller;
	}
	/* You can include any other responsive styles here */
}
