.footer {
	background: url('../assets/footer.jpg');
	height: 90vh;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	align-items: center;
	color: white;
	overflow: visible;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.footer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
}
.hr {
	height: 5px;
	border-radius: 10px;
	/* margin: 0px; */
	background: #06c967;
	width: 20%;
	margin-bottom: 20px;
}

.footer > div > h2 {
	font-size: 50px;
	margin-bottom: 15px;
}
.footer > div > h3 {
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
}

.footer > div > p {
	text-align: center;
}
.donate {
	padding: 10px 27px;
	font-size: 14px;
	color: white;
	background: rgb(6 201 103);
	border-radius: 20px;
}
.donate:hover {
	background-color: red;
	border: none;
	color: white;
	cursor: pointer;
}
.cr {
	display: flex;
	justify-content: space-around;
	opacity: 0.8;
}

.contact {
	background: linear-gradient(45deg, rgb(0 0 0 / 73%) 0%, rgb(0 0 0 / 72%) 100%), url(/src/assets/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	/* color: white; */
	width: 90%;
	color: white;
	margin: auto;
	margin-block: 30px;
	box-shadow: 1px 1px 16px black;
	padding: 20px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border-radius: 20px; */
}
.details {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 8%;
	margin-block: 20px;
}
.details > form {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.details > form > input {
	padding: 10px;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background: none;
	border: none;
	color: white;
	border-bottom: 1px solid white;
	border-bottom-right-radius: 10px;
	font-size: 17px;
	/* background: #daffff21; */
}
textarea {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	padding: 10px;
	font-size: 17px;
	background: none;
	/* background: #daffff21; */
	color: white;
	border: none;
	border-bottom: 1px solid white;
	border-bottom-right-radius: 10px;
}
.address {
	width: 32%;
}
.address > div > p,
.address > p {
	font-size: smaller;
}
/* Styles for screens with a maximum width of 768 pixels (typical for small screens) */
@media (max-width: 768px) {
	.details {
		flex-direction: column;
	}
	.details > form {
		width: 100%;
		height: 27vh;
	}
	.address {
		width: 100%;
		font-size: small;
	}
	.cr {
		font-size: x-small;
	}
	.footer > div {
		width: 100%;
	}
	.footer {
		height: auto;
	}
}
