.footer {
	background: url('../assets/footer.jpg');
	height: 80vh;
	display: flex;
	justify-content: center;
	/* margin-top: 50px; */
	align-items: center;
	color: white;
	overflow: visible;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.footer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
}
.hr {
	height: 5px;
	border-radius: 10px;
	/* margin: 0px; */
	background: #06c967;
	width: 20%;
	margin-bottom: 20px;
}

.footer > div > h2 {
	font-size: 50px;
	margin-bottom: 15px;
}
.footer > div > h3 {
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
}

.footer > div > p {
	text-align: center;
}
.donate {
	padding: 10px 27px;
	font-size: 14px;
	color: white;
	background: rgb(6 201 103);
	border-radius: 20px;
}
.donate:hover {
	background-color: red;
	border: none;
	color: white;
	cursor: pointer;
}
.cr {
	display: flex;
	justify-content: space-around;
	opacity: 0.8;
}
.logo {
	height: 150px;
	transition: transform 0.3s ease, color 0.3s ease;
	box-shadow: 1px 1px 15px black;
	border-radius: 49%;
	background: #fad7d7;
	padding: 10px;
}

.contact {
	background: #00d22b7d;
	width: 90%;
	color: black;
	margin: auto;
	margin-block: 30px;
	box-shadow: 1px 1px 16px black;
	/* padding-bottom: 80px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.details {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-right: 20px;
	gap: 20px;
	margin-block: 20px;
}
.details > div:first-child {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	flex: 1;
	border-right: 3px solid rgba(0, 0, 0, 0.296);
}
.details > div:last-child {
	flex: 0.8;
}
.details > div > form {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
.details > div > form > input {
	padding: 10px;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background: none;
	border: none;
	color: rgb(0, 0, 0);
	border-bottom: 1px solid rgb(255, 100, 100);
	border-bottom-right-radius: 10px;
	font-size: 17px;
	/* background: #daffff21; */
}
textarea {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	padding: 10px;
	font-size: 17px;
	background: none;
	/* background: #daffff21; */
	color: white;
	border: none;
	border-bottom: 1px solid rgb(245, 99, 99);
	border-bottom-right-radius: 10px;
}
.address {
	/* width: 32%; */
	/* border-bottom: 3px solid rgba(0, 0, 0, 0.296); */
	padding-block: 45px;
}
.address > div {
	display: flex;
	padding: 10px;
	justify-content: center;
	flex-direction: column;
}
.social > a > img {
	transition: transform 0.2s ease, color 0.3s ease;
	height: 25px;
	align-self: center;
}
.social > a > img:hover {
	transform: scale(1.1);
}
.social {
	display: flex;
	align-items: center;
	gap: 17px;
	justify-content: center;
}
.address > div > p,
.address > p {
	font-size: smaller;
}
/* Styles for screens with a maximum width of 768 pixels (typical for small screens) */
@media (max-width: 768px) {
	.details {
		padding: 0px;
		flex-direction: column-reverse;
	}
	.details > form {
		width: 100%;
		height: 27vh;
	}
	/* .address > div {
		align-items: center;
	} */
	.address {
		width: 100%;
		padding: 0px;
		font-size: small;
	}
	.details > div:first-child {
		border: none;
	}
	/* .contact {
		background: #03a554;
	} */

	.cr {
		font-size: x-small;
	}
	.footer > div {
		width: 100%;
	}
	.footer {
		height: auto;
	}
	.footer > div > h2 {
		font-size: x-large;
	}
	.footer > div > h3 {
		font-size: large;
	}
	.footer > div > p {
		width: 90%;
		font-size: smaller;
	}
	.donate {
		max-width: 15%;
	}
}
